<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <style>

    </style>
</head>

<body>
   <div>
    <h2>Email Verification</h2>
    <p>Hello {{first_name}}, {{last_name}}</p>
    <div>Click the link below to verify your account</div>
    <div>
        <a href={{url}}>verify your account</a>
    </div>
   </div>
</body>
</html>