<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verification</title>
        <style>

        </style>
    </head>

    <body>
        <div>
            <h3>Password Reset</h3>
            <p>Hello {{first_name}}</p>
            <div>Click the link below to reset your Password</div>
            <div>
                <a href={{url}}>reset password</a>
            </div>
        </div>
    </body>

</html>